.container{
    width:200px;
    border:5px solid black;
    display:flex;
    flex-wrap:wrap; /* responsible for making the boxes wrap around the second line*/
  
  }
  .box{
  width:100px;
  height:100px;
  }
  
  .red{
  background-color:red;
  }
  .black{
  background-color:black;
  
  }